<!--
  <div class="app-content content">
    <div class="content-wrapper">
    <div class="content-body pb-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<app-footer></app-footer> -->

<app-navbar *ngIf="!isLogined"></app-navbar>
<!-- BEGIN: Content -->
<main class="content main_content position-relative" >
  <router-outlet></router-outlet>

</main>
<app-footer *ngIf="!isLogined"></app-footer>
<div class="body-overlay" (click)="closeOverlay()"></div>
<!-- END: Content -->
