<p-table #dt1 [value]="customers" responsiveLayout="scroll"
dataKey="id" [rows]="10" [showCurrentPageReport]="true"
	[rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
	[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
	[globalFilterFields]="['id ','name','email','role']" id="listBachelors"
>
<ng-template pTemplate="caption">
  <div class="p-d-flex">
    <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <!-- <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" /> -->
          </span>
  </div>
</ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="id"># <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="name">الأسم <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="email">البريد الألكتروني <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="role">دور <p-sortIcon field="role"></p-sortIcon></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
      <tr>
          <td>{{customer.id}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.email}}</td>
          <td style="text-transform: capitalize;">{{customer.reRole }}</td>
      </tr>
  </ng-template>
</p-table>
